# Web app
Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7

# HTTP
requests==2.32.3

# ENV
python-dotenv==1.0.1

# Prod server (Render) - 필요시
gunicorn==21.2.0

# (도메인 분리 배포로 CORS가 필요할 때만)
flask-cors==5.0.1
